<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.preferencePages">
    	<page class="com.marcelotomazini.eclipse.plugins.timedmessages.preferences.TimedMessagesPreferencePage" id="com.marcelotomazini.eclipse.plugins.timedmessages.preferences.TimedMessagesPreferencePage" name="Timed messages"/>
   	</extension>
   	
   	<extension point="org.eclipse.ui.commands">
     	<command name="Timed messages"
            id="timed-messagesCommand"
            defaultHandler="com.marcelotomazini.eclipse.plugins.timedmessages.handlers.TimerHandler">
     	</command>
   	</extension>
   	
   	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
          	<command
                 commandId="timed-messagesCommand"
                 icon="icons/timer.gif"
                 label="Timed messages">
          	</command>
		</menuContribution>
	</extension>
</plugin>
